<div *ngIf="caseFile">
  <h1>{{ caseFile.type }}</h1>
  <p><strong>Initiation Date:</strong> {{ caseFile.initiationDate }}</p>
  <p><strong>Prosecutor:</strong> {{ caseFile.prosecutor?.email }}</p>
  <p><strong>Judge:</strong> {{ caseFile.judge?.email }}</p>
  <h2>Reports</h2>
  <ul>
    <li *ngFor="let report of caseFile.reports">{{ report.description }}</li>
  </ul>
  <button (click)="openReportForm()">Add Report</button>
  
  <div *ngIf="isReportFormOpen" class="report-form-card">
    <h2>Add New Report</h2>
    <form (ngSubmit)="submitReport()">
      <label for="location">Reported Location:</label>
      <input type="text" id="location" [(ngModel)]="newReport.reportedLocation" name="location" required>
      <label for="description">Description:</label>
      <input type="text" id="description" [(ngModel)]="newReport.description" name="description" required>
      <button type="submit">Submit</button>
      <button type="button" (click)="closeReportForm()">Cancel</button>
    </form>
  </div>

  <h2>Warrants</h2>
  <ul>
    <li *ngFor="let warrant of caseFile.warrants">{{ warrant.description }}</li>
  </ul>
</div>
<ng-template #noCaseFile>
  <p>Loading case file details...</p>
</ng-template>
